body{
    margin: auto;
    border-collapse: collapse;
    width: 100vw;
}
#rea{
    box-sizing: border-box;
    border: 2px solid gray;
}
#super{
    border-collapse: collapse;
    width: 60vw;
    margin: auto;
}
#rea1{
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 100;
}
#header{
    display: flex;
  align-items: center;
  height: 60px;  
    justify-content: space-between;
}
#header_1{
    margin: top 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #673FB4;
}
#vin{
    display: flex;
    float: right;

}
#sub{
    background-color:#9377C8 ;
    justify-items: end;
    color: whitesmoke;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#cal{
    background-color:#9377C8 ;
    justify-items: end;
    color: whitesmoke;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
#Calories{
    width: 100%;
  padding: 12px 20px;
  display: inline-block;
  box-sizing: border-box;

}
#des{
    background-color:#9377C8 ;
    justify-items: end;
    color: whitesmoke;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
#tim{
    background-color:#9377C8 ;
    display:flex;
    height: 5vh;
    justify-content: space-between;
    color: whitesmoke;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#tim h3{
    margin-top: 2%;
}
#rock{
    display: flex;
    justify-items: flex-end;
    padding: 2px; 
    justify-content: space-between;
}
#text{
    width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;

}
#calorie{
    margin: 0px;

}


#lint{
    width: 50%;
    padding: 10px;
    background-color: green;
    float: left;
    cursor:pointer;
}
#nonLint{
    padding: 10px;
    width: 50%;
    background-color: skyblue;
    float: right;
    cursor:pointer;


}
#bt{
    margin-top: 10px;
    padding: 3px;
    border-radius: 4px;
    display: flex;
    text-align: center;
    width: 60vw;
    margin: auto;
}
table{
    border-collapse: collapse;
    width: 100%;
    margin-top: 60px;

}
#lent{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#lent th{
    padding: 12px;
  text-align: center;
  background-color: #04AA6D;
  color: white;
}
#lent td, #lent th{
    border: 1px solid #ddd;
  padding: 8px;
}
span{
 visibility: hidden;
 background-color: rgba(0, 255, 0, 0.2);
}



#page{
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 100;
}
#dis{
    display: flex;
    padding: 2px; 
    justify-content: space-between;
}
#time_desgin{
    background-color:#9377C8 ;
    display: flex;
    justify-content: space-between;
    color: whitesmoke;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#lef{
    width: 100%;
    padding: 10px;
    background-color: green;
}
#lip{
    padding: 10px;
    width: 100%;
    background-color: skyblue;
}
#hight{
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 100;
    display: flex;
}
#meal{
    color: white;
    background-color: #9377C8;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#calal{
    color: white;
    background-color: #9377C8;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#desc{
    padding: 2px;
    color: white;
    background-color: #9377C8;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#text2{
    width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}
#Calories2{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
/* #container{
    margin-left: 30%;
} */


