body{
    margin: auto;
    border-collapse: collapse;
    width: 100vw;
}
#rea{
    box-sizing: border-box;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}
#rea h3{
  padding-left: 15px;  
}
#super{
    border-collapse: collapse;
    width: 60vw;
    margin: auto;
}
/* #rea1{
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 100;
} */
#header{
    border-radius: 4px;
    margin: 0%;
    position: sticky;
    box-sizing: border-box;
    border-radius: 4px;
    /* top: -1px; */
    display: flex;
  align-items: center;  
    justify-content: space-between;
}
#header_1{
    margin: top 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #673FB4;
}
#vin{
    display: flex;
    float: right;

}
#rock input{
    width: 20px;
    height: 20px
}
#sub{
    background-color:#9377C8 ;
    justify-items: end;
    color: whitesmoke;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#cal{
    background-color:#9377C8 ;
    justify-items: end;
    color: whitesmoke;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
#Calories{
    width: 100%;
  padding: 12px 20px;
  display: inline-block;
  box-sizing: border-box;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid gray;
  margin-bottom: 10px;

}
input:focus{
    outline: none;
}
textarea:focus{
    outline: none;
}
#image-input{
    margin: 10px 2px;
    border: none;
    
}
#des{
    background-color:#9377C8 ;
    justify-items: end;
    color: whitesmoke;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
#tim{
    background-color:#9377C8 ;
    display:flex;
    justify-content: space-between;
    color: whitesmoke;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.radio{
    display: flex;
    align-items: center;
    gap: 10px;
}
#rock{
    display: flex;
    padding: 6px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
    height: 20%;
}
#text{
    width: 100%;
  height: 100px;
  padding: 12px 20px;
  box-sizing: border-box;
  background-color: #f8f8f8;
  font-size: 16px;
  border-bottom: 1px solid gray;
  resize: none;
  border-top: none;
  border-left: none;
  border-right: none;
}
#lint{
    padding: 15px;
    background-color: green;
    cursor:pointer;
    border-radius: 4px;
    border: none;
}
#nonLint{
    padding: 15px;
    background-color: skyblue;
    cursor:pointer;
    border-radius: 4px;
    border: none;

}
#bt{
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 2px;
    gap: 10px;
    display: flex;
    text-align: center;
    float: right;
    margin-right: 0px;
}
table{
    width: 100vw;
    margin-top: 60px;
    
}
table th{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 1px;
  text-align: center;
  background-color: #04AA6D;
  color: white;
  border: 1px solid #ddd;
  height: 40px;
}
table td{
    border: 1px solid #ddd;
  text-align: center;
  width: 17%;
}
span{
 visibility: hidden;
 background-color: rgba(0, 255, 0, 0.2);
}
#page{
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 100;
}
#page span{
    visibility: hidden;
 background-color: rgba(0, 255, 0, 0.2);
}
#dis{
    display: flex;
    padding: 2px; 
    justify-content: space-between;
}
#time_desgin{
    background-color:#9377C8 ;
    display: flex;
    justify-content: space-between;
    color: whitesmoke;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#lef{
    width: 100%;
    padding: 10px;
    background-color: green;
}
#lip{
    padding: 10px;
    width: 100%;
    background-color: skyblue;
}
#hight{
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 100;
    display: flex;
}
#meal{
    color: white;
    background-color: #9377C8;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#calal{
    color: white;
    background-color: #9377C8;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#desc{
    padding: 2px;
    color: white;
    background-color: #9377C8;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#text2{
    width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}
#Calories2{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
#alerts{
    display: none;
}
.imag{
    width: 30%;
    border-radius: 4px;
}
#image{
    width: 200px;
    height: 100px;
    border-radius: 4px;
}
#image-Container{
    margin: 10px;
}
#body{
    width: 100%;
}


